body{
background-color: #003554;
font-family: sans-serif;
font-color: #ffffff;
}

h1{
font-family: sans-serif;
font-color: #ffffff;
font-size: 2em;
}

p{
font-family: sans-serif;
font-color: #ffffff;
