body {
  background-color: #003554;
  font-family: sans-serif;
  color: #ffffff;
}

h1 {
  font-family: sans-serif;
  color: white;
  font-size: 2em;
}

p {
  font-family: sans-serif;
  color: white;
}
